<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Event Confirmation</h1>
  <p>Hello,</p>
  <p>This is a confirmation that you have joined the event <%= @event_name %>.</p>
  <p>You can view the event details <a href="<%= @url %>">here</a>.</p>
</body>
</html>
