<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Invitation Declined</h1>
  <p>Hello,</p>
  <p>You have declined the invitation to <%= @event_name %>.</p>
  <p>If this was a mistake, please contact us.</p>
  <p>Thank you.</p>
</body>
</html>

