<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>You've Declined the Invitation</h1>
  <p>Hello,</p>
  <p>You have declined the invitation to <%= @event_name %>.</p>
  <p>If this was a mistake, please contact the event organizer.</p>
  <p>You can visit the event page <a href="<%= @url %>">here</a>.</p>
</body>
</html>
