<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>You've Accepted the Invitation!</h1>
  <p>Hello,</p>
  <p>You have successfully accepted the invitation to <%= @event_name %>.</p>
  <p>Thank you for your response.</p>
  <p>You can visit the event page <a href="<%= @url %>">here</a>.</p>
</body>
</html>
